header {
  background-color: #ffffff;
}

header::after { 
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #222;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;

}


h1 {
  text-align: center;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li { 
  display: inline-block;
  margin-left: 70px; 
  padding-top: 23px;  

  position: relative;
}

nav a{
  color: #444;
  text-decoration: none;
  text-transform: uppercase; 
  font-size: 14px;
}

nav a:hover{
  color: #000;
}

nav a::before{
  content: " ";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width: 100%;
}
