h2 {
    font-size: 125px;
    color: aliceblue; 
}

h3 {
    font-size: 14px;
    color: aliceblue;
}

.Coordinates { 
    font-size: 125px;
}

.Address {
    font-size: 20px;
    width: 700px;
}

Button {
    background-color:rgb(38, 136, 221);
    color: white;
    border-radius: 28px;
    height: 100px;
    width: 200px;
}

a {
    color:white;
}